<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
    <body>
        <div class="mx-auto mt-5" style="width:600px;">
            <div class="border border-dark border-5 p-3">
                <form action='/create' method='post'>
                    {% csrf_token %}
                    <label for="name" class="form-label fw-bold">Name:</label>
                    <input class="form-control" type='text' name='name'>
                    <label for="city" class="form-label fw-bold">Location:</label>
                    <select class="form-control " name='city'>
                        {% for city in cities %}
                            <option>{{city}}</option>
                        {% endfor %}
                    </select> 
                    <label for="language" class="form-label fw-bold">Language:</label>
                    <select class="form-control " name='language'>
                        {% for language in languages %}
                            <option>{{language}}</option>
                        {% endfor %}
                    </select> 
                    <label for="comments" class="form-label fw-bold">Comments:</label>
                    <textarea name="comments" class="form-control" rows="5"></textarea>
                    <button class="btn btn-dark mt-3" type='submit'>Submit</button>
                </form>
            </div>
        </div>
        
        

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    </body>
</html>